%h1 See the unseen.
= form_tag graph_path, method: :get do
  .form-group
    = text_field_tag "term", nil, class: 'form-control', placeholder: "Enter a company name"
  = submit_tag "Search", class: 'btn btn-primary btn-lg'
